@tailwind base;
@tailwind components;
@tailwind utilities;

/* admin dashboard */
.embla__viewport-dino-images-dashboard {
  overflow: hidden;
}
.embla__container-dino-images-dashboard {
  display: flex;
}
.embla__slide-dino-images-dashboard {
  flex: 0 0 224px;
  min-width: 0;
}

.embla__viewport-dino-found-location-dashboard {
  overflow: hidden;
}
.embla__container-dino-found-location-dashboard {
  display: flex;
}
.embla__slide-dino-found-location-dashboard {
  flex: 0 0 auto;
  min-width: 0;
}

.embla-dino-page-images {
  overflow: hidden;
}
.embla__container-dino-page-images {
  display: flex;
}
.embla__slide-dino-page-images {
  flex: 0 0 300px;
  min-width: 0;
}

/* user */
.embla__viewport-intro-rec-dino {
  overflow: hidden;
}
.embla__container-intro-rec-dino {
  display: flex;
}
.embla__slide-intro-rec-dino {
  flex: 0 0 auto;
  height: auto;
  min-width: 0;
}

@media (min-width: 640px) {
  .embla__slide-dino-page-images {
    flex: 0 0 420px;
  }
}

@media (min-width: 1020px) {
  .embla__slide-dino-page-images {
    flex: 0 0 520px;
  }
}
